<h1>Peliculas</h1>
<h1> Lista de... </h1>


<%= link_to 'Ingresar una nueva Pelicula', movies_new_path %>

<div>
    <table class="custom-table">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nombre de la Movie</th>
                <th scope="col">Sinopsis</th>
                <th scope="col">Director</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <% @movies.each do |movie| %>
            <tr>
                <th scope="row"><%= movie.id %></th>
                <td><%= movie.name %></>
                <td><%= movie.synopsis %></td>
                <td><%= movie.director %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>