  <div class="container">
    <h1>Series</h1>

          <h3>Las 10 mejores de series</h3><br>
          
<%= link_to 'Ingresar una nueva Serie', series_new_path %>
          <table class="custom-table">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nombre de la Serie</th>
                    <th scope="col">Sinopsis</th>
                    <th scope="col">Director</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% @series.each do |serie| %>
                <tr>
                    <th scope="row"><%= serie.id %></th>
                    <td><%= serie.name %></>
                    <td><%= serie.synopsis %></td>
                    <td><%= serie.director %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      
  </div>






